In [9]:
import pandas as pd
import numpy as np
from datetime import datetime

In [83]:
df = pd.read_csv('../04_datasets/nfl_dataset_v1.csv', index_col=0) #Importing dataset

In [84]:
df.date.head() #structure check

0    2017-11-05 18:00:00+00:00
1    2017-11-05 18:00:00+00:00
2    2017-10-01 17:00:00+00:00
3    2017-10-01 17:00:00+00:00
4    2017-10-01 13:30:00+00:00
Name: date, dtype: object

In [85]:
# creating checks to confirm whether the time shift has relevance
date_check = df["date"].str.split("+",expand=True)
date_check2 = df["game_date"].str.split("+",expand=True)

In [86]:
display(date_check)
display(date_check2)

                        0      1
0     2017-11-05 18:00:00  00:00
1     2017-11-05 18:00:00  00:00
2     2017-10-01 17:00:00  00:00
3     2017-10-01 17:00:00  00:00
4     2017-10-01 13:30:00  00:00
...                   ...    ...
2537  2021-10-10 17:00:00  00:00
2538  2021-12-19 18:00:00  00:00
2539  2021-12-19 18:00:00  00:00
2540  2022-01-10 01:20:00  00:00
2541  2022-01-10 01:20:00  00:00

[2542 rows x 2 columns]

                        0      1
0     2017-11-05 18:00:00  00:00
1     2017-11-05 18:00:00  00:00
2     2017-10-01 17:00:00  00:00
3     2017-10-01 17:00:00  00:00
4     2017-10-01 13:30:00  00:00
...                   ...    ...
2537  2021-10-10 17:00:00  00:00
2538  2021-12-19 18:00:00  00:00
2539  2021-12-19 18:00:00  00:00
2540  2022-01-10 01:20:00  00:00
2541  2022-01-10 01:20:00  00:00

[2542 rows x 2 columns]

In [89]:
display(date_check[1].unique())
display(date_check2[1].unique())

array(['00:00'], dtype=object)

array(['00:00'], dtype=object)

In [90]:
# Removing time shift adjustment and converting the field to datetime 
# Library import: from datetime import datetime

date_cols = ["date", "game_date"]

for x in date_cols:
        for i in range(len(df[x])):
            df[x][i] = df[x][i].replace("+00:00", "")
                
        df[x] = pd.to_datetime(df[x])


df[date_cols].info()

C:\Users\itrem\AppData\Local\Temp\ipykernel_6984\3426136259.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x][i] = df[x][i].replace("+00:00", "")
C:\Users\itrem\AppData\Local\Temp\ipykernel_6984\3426136259.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[x][i] = df[x][i].replace("+00:00", "")