In [6]:
import pandas as pd

#### MERGE MASTER FILE (SCORES_PREP) WITH THE MOVING AVERAGE & TIME DELTA FEATURES

##### Step 1: retrieving and cleaning the files

In [7]:
# reading csv files
data_master = pd.read_csv('../04_datasets/nfl_dataset_2.csv') # the master file
data1 = pd.read_csv('../04_datasets/nfl_team_ma.csv') # the file with the moving average + the time delta

In [8]:
data_master = data_master.drop(columns=['Unnamed: 0'], axis =0)
data_master.head()

,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,winner_away,winner_team,concat,home_coach,away_coach,location,weather_type,temperature,humidity,wind
0,2017,13,Vikings,Falcons,14,9,400951677,-5,0,1,Vikings,2017_13_Falcons_Vikings,Dan Quinn,Mike Zimmer,Home,NaN,NaN,NaN,NaN
1,2017,9,Falcons,Panthers,17,20,400951749,3,1,0,Panthers,2017_09_Panthers_Falcons,Ron Rivera,Dan Quinn,Home,cloudy,61.0,86.0,4.0
2,2017,9,Bengals,Jaguars,7,23,400951753,16,1,0,Jaguars,2017_09_Jaguars_Bengals,Doug Marrone,Marvin Lewis,Home,NaN,78.0,74.0,12.0
3,2017,4,Bears,Packers,14,35,400951678,21,1,0,Packers,2017_04_Packers_Bears,Mike McCarthy,John Fox,Home,cloudy,65.0,62.0,5.0
4,2017,9,Colts,Texans,20,14,400951751,-6,0,1,Colts,2017_09_Texans_Colts,Bill O'Brien,Chuck Pagano,Home,cloudy,84.0,62.0,10.0

In [9]:
data1 = data1.drop(columns=['Unnamed: 0.1', 'Unnamed: 0'])
data1 = data1.rename(columns = {'index':'game_date'})
data1

,game_date,idgame,team,pass_completion,pass_yds,pass_avg,pass_td,pass_int,sacks,qbr,...,punt_return_td_MA_5,kicking_pct_MA_5,kicking_long_MA_5,kicking_pts_MA_5,punting_no_MA_5,punting_yds_MA_5,punting_avg_MA_5,punting_tb_MA_5,punting_in_20_MA_5,punting_long_MA_5
0,2017-09-10 20:25:00+00:00,400951605,49ers,0.685714,193.0,5.5,0.0,1.0,0.148148,0.148148,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017-09-17 20:25:00+00:00,400951676,49ers,0.555556,99.0,3.7,0.0,1.0,0.200000,0.200000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2017-09-22 00:25:00+00:00,400951568,49ers,0.621622,332.0,9.0,2.0,1.0,0.166667,0.166667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017-10-01 20:05:00+00:00,400951735,49ers,0.489796,234.0,4.8,0.0,1.0,0.125000,0.125000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017-10-08 17:00:00+00:00,400951562,49ers,0.630435,353.0,7.7,2.0,0.0,0.117647,0.117647,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2537,2021-12-12 18:00:00+00:00,401326531,Washington,0.884444,175.0,10.8,1.0,1.0,0.286957,0.286957,...,0.0,86.6,41.0,6.4,3.0,141.8,49.94,0.2,1.4,54.8
2538,2021-12-22 00:00:00+00:00,401326542,Washington,0.645161,194.0,6.3,0.0,0.0,0.100000,0.100000,...,0.0,80.0,30.6,5.6,4.2,199.8,46.92,0.4,2.0,53.4
2539,2021-12-27 01:20:00+00:00,401326567,Washington,1.118182,188.0,12.2,2.0,2.0,0.250000,0.250000,...,0.0,80.0,25.8,4.4,4.8,230.0,47.62,0.4,2.2,56.4
2540,2022-01-02 18:00:00+00:00,401326578,Washington,0.750000,247.0,6.9,0.0,1.0,0.103448,0.103448,...,0.0,60.0,18.6,3.0,5.4,263.8,48.62,0.6,2.6,56.4
2541,2022-01-09 18:00:00+00:00,401326594,Washington,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,...,0.0,60.0,25.0,4.4,4.8,237.0,48.30,0.6,2.0,55.0

In [16]:
len(data1)

2542

In [44]:
print(data1.columns.tolist())

['game_date', 'idgame', 'team', 'pass_completion', 'pass_yds', 'pass_avg', 'pass_td', 'pass_int', 'sacks', 'qbr', 'rtg', 'rush_car', 'rush_yds', 'rush_avg', 'rush_td', 'rush_long', 'receptions', 'rec_yds', 'rec_avg', 'rec_td', 'rec_long', 'rec_tgs', 'fumbles', 'fumbles_lost', 'fumbles_rec', 'defense_tot', 'defense_solo', 'defense_sacks', 'defense_tfl', 'defense_pd', 'defense_qb_hits', 'defense_td', 'interceptions', 'interceptions_yds', 'interceptions_td', 'kicks_return_no', 'kicks_return_yds', 'kicks_return_avg', 'kicks_return_long', 'kicks_return_td', 'punt_return_no', 'punt_return_yds', 'punt_return_avg', 'punt_return_long', 'punt_return_td', 'kicking_pct', 'kicking_long', 'kicking_pts', 'punting_no', 'punting_yds', 'punting_avg', 'punting_tb', 'punting_in_20', 'punting_long', 'delta_match', 'pass_completion_MA_5', 'pass_yds_MA_5', 'pass_avg_MA_5', 'pass_td_MA_5', 'pass_int_MA_5', 'sacks_MA_5', 'qbr_MA_5', 'rtg_MA_5', 'rush_car_MA_5', 'rush_yds_MA_5', 'rush_avg_MA_5', 'rush_td_MA_5', 'rush_long_MA_5', 'receptions_MA_5', 'rec_yds_MA_5', 'rec_avg_MA_5', 'rec_td_MA_5', 'rec_long_MA_5', 'rec_tgs_MA_5', 'fumbles_MA_5', 'fumbles_lost_MA_5', 'fumbles_rec_MA_5', 'defense_tot_MA_5', 'defense_solo_MA_5', 'defense_sacks_MA_5', 'defense_tfl_MA_5', 'defense_pd_MA_5', 'defense_qb_hits_MA_5', 'defense_td_MA_5', 'interceptions_MA_5', 'interceptions_yds_MA_5', 'interceptions_td_MA_5', 'kicks_return_no_MA_5', 'kicks_return_yds_MA_5', 'kicks_return_avg_MA_5', 'kicks_return_long_MA_5', 'kicks_return_td_MA_5', 'punt_return_no_MA_5', 'punt_return_yds_MA_5', 'punt_return_avg_MA_5', 'punt_return_long_MA_5', 'punt_return_td_MA_5', 'kicking_pct_MA_5', 'kicking_long_MA_5', 'kicking_pts_MA_5', 'punting_no_MA_5', 'punting_yds_MA_5', 'punting_avg_MA_5', 'punting_tb_MA_5', 'punting_in_20_MA_5', 'punting_long_MA_5']

drop columns no Moving Average

In [46]:
data1 = data1.drop(columns=['pass_completion', 'pass_yds', 'pass_avg', 'pass_td', 'pass_int', 'sacks', 'qbr', 'rtg', 'rush_car',
                    'rush_yds', 'rush_avg', 'rush_td', 'rush_long', 'receptions', 'rec_yds', 'rec_avg', 'rec_td', 'rec_long',
                    'rec_tgs', 'fumbles', 'fumbles_lost', 'fumbles_rec', 'defense_tot', 'defense_solo', 'defense_sacks',
                    'defense_tfl', 'defense_pd', 'defense_qb_hits', 'defense_td', 'interceptions', 'interceptions_yds',
                    'interceptions_td', 'kicks_return_no', 'kicks_return_yds', 'kicks_return_avg', 'kicks_return_long',
                    'kicks_return_td', 'punt_return_no', 'punt_return_yds', 'punt_return_avg', 'punt_return_long',
                    'punt_return_td', 'kicking_pct', 'kicking_long', 'kicking_pts', 'punting_no', 'punting_yds',
                    'punting_avg', 'punting_tb', 'punting_in_20', 'punting_long'], axis = 1)

import win_streak

In [47]:
data2 = pd.read_csv('../04_datasets/teams_win_streak.csv')

In [48]:
data2.head()

   Unnamed: 0  season  week     idgame      team  streak
0           0    2021    18  401326600   Raiders       3
1           1    2021    18  401326600  Chargers       1
2           2    2021    18  401326599      Rams       5
3           3    2021    18  401326599     49ers       1
4           4    2021    18  401326598    Chiefs      -1

In [49]:
data2 = data2.drop(columns=['Unnamed: 0','season','week'], axis=1)

In [50]:
len(data2)

2560

Merge moving average and win_streak

In [52]:
data3 = pd.merge(data2, data1,
                left_on=['idgame','team'],
                right_on = ['idgame','team'],
                how='left')
data3.head(10)

,idgame,team,streak,game_date,delta_match,pass_completion_MA_5,pass_yds_MA_5,pass_avg_MA_5,pass_td_MA_5,pass_int_MA_5,...,punt_return_td_MA_5,kicking_pct_MA_5,kicking_long_MA_5,kicking_pts_MA_5,punting_no_MA_5,punting_yds_MA_5,punting_avg_MA_5,punting_tb_MA_5,punting_in_20_MA_5,punting_long_MA_5
0,401326600,Raiders,3,2022-01-10 01:20:00+00:00,7 days 07:20:00,0.740453,240.8,6.96,0.8,1.0,...,0.0,100.0,42.8,7.6,3.0,143.6,47.86,0.4,1.2,56.6
1,401326600,Chargers,1,2022-01-10 01:20:00+00:00,7 days 04:15:00,0.708969,280.2,8.28,2.2,0.8,...,0.0,80.0,31.0,9.0,2.2,80.6,29.52,0.2,0.4,35.2
2,401326599,Rams,5,2022-01-09 21:25:00+00:00,7 days 03:25:00,0.697088,266.4,7.98,2.2,1.2,...,0.2,80.0,37.2,9.4,2.6,120.0,46.66,0.0,1.2,51.8
3,401326599,49ers,1,2022-01-09 21:25:00+00:00,7 days 00:20:00,0.709264,280.2,9.48,1.6,1.0,...,0.0,93.4,39.6,7.2,4.0,170.6,42.22,0.2,0.8,52.4
4,401326598,Chiefs,-1,2022-01-08 21:30:00+00:00,6 days 03:30:00,0.703935,273.8,8.36,2.0,0.4,...,0.0,95.0,44.2,9.8,2.2,94.6,42.60,0.0,1.0,46.0
5,401326598,Broncos,-3,2022-01-08 21:30:00+00:00,6 days 00:25:00,0.943455,204.2,8.64,1.0,0.4,...,0.0,83.4,52.8,5.8,4.0,191.8,47.68,0.2,1.2,55.6
6,401326597,Seahawks,1,2022-01-09 21:25:00+00:00,7 days 00:00:00,0.649718,212.8,7.06,2.0,0.4,...,0.0,70.0,32.8,7.2,3.8,172.8,45.02,0.4,1.6,51.6
7,401326597,Cardinals,1,2022-01-09 21:25:00+00:00,7 days 00:00:00,0.985231,270.0,12.82,1.2,0.6,...,0.0,86.6,39.2,8.6,2.0,88.6,44.96,0.0,0.6,49.0
8,401326596,Panthers,-6,2022-01-09 21:25:00+00:00,7 days 00:00:00,0.805002,194.2,9.38,0.4,1.6,...,0.0,50.0,20.4,3.4,4.2,203.6,47.76,0.2,0.8,57.6
9,401326596,Buccaneers,2,2022-01-09 21:25:00+00:00,7 days 03:25:00,0.648136,317.4,7.10,2.0,0.6,...,0.0,80.0,28.4,7.4,4.4,178.4,40.24,0.0,1.8,50.4

In [53]:
len(data3)

2560

##### Step 2: merging the files

merge on idgame & awayteam

In [54]:
# using merge function by setting how='left' to keep in line with the master file
output1 = pd.merge(data_master, data3, 
                   left_on=['idgame','awayteam'],
                   right_on = ['idgame','team'],
                   how='left')

# displaying result
output1.head()

,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,winner_away,...,punt_return_td_MA_5,kicking_pct_MA_5,kicking_long_MA_5,kicking_pts_MA_5,punting_no_MA_5,punting_yds_MA_5,punting_avg_MA_5,punting_tb_MA_5,punting_in_20_MA_5,punting_long_MA_5
0,2017,13,Vikings,Falcons,14,9,400951677,-5,0,1,...,0.0,76.66,46.2,10.2,3.4,140.0,42.16,0.0,1.0,46.6
1,2017,9,Falcons,Panthers,17,20,400951749,3,1,0,...,0.0,70.00,34.2,7.2,3.0,125.4,41.92,0.0,1.2,49.8
2,2017,9,Bengals,Jaguars,7,23,400951753,16,1,0,...,0.0,60.00,29.2,5.8,4.6,224.2,48.64,0.4,1.6,56.0
3,2017,4,Bears,Packers,14,35,400951678,21,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,9,Colts,Texans,20,14,400951751,-6,0,1,...,0.0,80.00,35.4,7.8,4.8,219.6,46.70,0.0,2.0,56.8

In [55]:
len(output1)

1289

In [56]:
len(output1.columns)

74

merge on idgame & hometeam

In [57]:
output2 = pd.merge(data_master, data3, 
                   left_on=['idgame','hometeam'],
                   right_on = ['idgame','team'],
                   how='left')

# displaying result
output2.head()

,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,winner_away,...,punt_return_td_MA_5,kicking_pct_MA_5,kicking_long_MA_5,kicking_pts_MA_5,punting_no_MA_5,punting_yds_MA_5,punting_avg_MA_5,punting_tb_MA_5,punting_in_20_MA_5,punting_long_MA_5
0,2017,13,Vikings,Falcons,14,9,400951677,-5,0,1,...,0.0,100.00,48.2,9.4,3.2,143.0,45.00,0.4,1.0,52.2
1,2017,9,Falcons,Panthers,17,20,400951749,3,1,0,...,0.0,93.34,40.4,7.4,4.2,204.2,46.02,0.4,1.6,51.8
2,2017,9,Bengals,Jaguars,7,23,400951753,16,1,0,...,0.0,80.00,41.0,8.4,5.0,216.4,45.14,0.0,2.4,55.4
3,2017,4,Bears,Packers,14,35,400951678,21,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,9,Colts,Texans,20,14,400951751,-6,0,1,...,0.0,80.00,32.2,9.0,4.6,242.2,54.10,0.0,1.8,61.4

In [58]:
len(output2)

1289

In [59]:
print(output2.columns.tolist())

['season', 'week', 'awayteam', 'hometeam', 'awayscore', 'homescore', 'idgame', 'score_abs', 'winner_home', 'winner_away', 'winner_team', 'concat', 'home_coach', 'away_coach', 'location', 'weather_type', 'temperature', 'humidity', 'wind', 'team', 'streak', 'game_date', 'delta_match', 'pass_completion_MA_5', 'pass_yds_MA_5', 'pass_avg_MA_5', 'pass_td_MA_5', 'pass_int_MA_5', 'sacks_MA_5', 'qbr_MA_5', 'rtg_MA_5', 'rush_car_MA_5', 'rush_yds_MA_5', 'rush_avg_MA_5', 'rush_td_MA_5', 'rush_long_MA_5', 'receptions_MA_5', 'rec_yds_MA_5', 'rec_avg_MA_5', 'rec_td_MA_5', 'rec_long_MA_5', 'rec_tgs_MA_5', 'fumbles_MA_5', 'fumbles_lost_MA_5', 'fumbles_rec_MA_5', 'defense_tot_MA_5', 'defense_solo_MA_5', 'defense_sacks_MA_5', 'defense_tfl_MA_5', 'defense_pd_MA_5', 'defense_qb_hits_MA_5', 'defense_td_MA_5', 'interceptions_MA_5', 'interceptions_yds_MA_5', 'interceptions_td_MA_5', 'kicks_return_no_MA_5', 'kicks_return_yds_MA_5', 'kicks_return_avg_MA_5', 'kicks_return_long_MA_5', 'kicks_return_td_MA_5', 'punt_return_no_MA_5', 'punt_return_yds_MA_5', 'punt_return_avg_MA_5', 'punt_return_long_MA_5', 'punt_return_td_MA_5', 'kicking_pct_MA_5', 'kicking_long_MA_5', 'kicking_pts_MA_5', 'punting_no_MA_5', 'punting_yds_MA_5', 'punting_avg_MA_5', 'punting_tb_MA_5', 'punting_in_20_MA_5', 'punting_long_MA_5']

merge away team & home team

In [60]:
output3 = pd.merge(output1, output2, 
                   left_on= 'idgame',
                   right_on = 'idgame',
                   suffixes= ("_away","_home"),
                   how='inner')

# displaying result
output3.head()

,season_away,week_away,awayteam_away,hometeam_away,awayscore_away,homescore_away,idgame,score_abs_away,winner_home_away,winner_away_away,...,punt_return_td_MA_5_home,kicking_pct_MA_5_home,kicking_long_MA_5_home,kicking_pts_MA_5_home,punting_no_MA_5_home,punting_yds_MA_5_home,punting_avg_MA_5_home,punting_tb_MA_5_home,punting_in_20_MA_5_home,punting_long_MA_5_home
0,2017,13,Vikings,Falcons,14,9,400951677,-5,0,1,...,0.0,100.00,48.2,9.4,3.2,143.0,45.00,0.4,1.0,52.2
1,2017,9,Falcons,Panthers,17,20,400951749,3,1,0,...,0.0,93.34,40.4,7.4,4.2,204.2,46.02,0.4,1.6,51.8
2,2017,9,Bengals,Jaguars,7,23,400951753,16,1,0,...,0.0,80.00,41.0,8.4,5.0,216.4,45.14,0.0,2.4,55.4
3,2017,4,Bears,Packers,14,35,400951678,21,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,9,Colts,Texans,20,14,400951751,-6,0,1,...,0.0,80.00,32.2,9.0,4.6,242.2,54.10,0.0,1.8,61.4

In [61]:
len(output3)

1289

In [62]:
print(output3.columns.tolist())

['season_away', 'week_away', 'awayteam_away', 'hometeam_away', 'awayscore_away', 'homescore_away', 'idgame', 'score_abs_away', 'winner_home_away', 'winner_away_away', 'winner_team_away', 'concat_away', 'home_coach_away', 'away_coach_away', 'location_away', 'weather_type_away', 'temperature_away', 'humidity_away', 'wind_away', 'team_away', 'streak_away', 'game_date_away', 'delta_match_away', 'pass_completion_MA_5_away', 'pass_yds_MA_5_away', 'pass_avg_MA_5_away', 'pass_td_MA_5_away', 'pass_int_MA_5_away', 'sacks_MA_5_away', 'qbr_MA_5_away', 'rtg_MA_5_away', 'rush_car_MA_5_away', 'rush_yds_MA_5_away', 'rush_avg_MA_5_away', 'rush_td_MA_5_away', 'rush_long_MA_5_away', 'receptions_MA_5_away', 'rec_yds_MA_5_away', 'rec_avg_MA_5_away', 'rec_td_MA_5_away', 'rec_long_MA_5_away', 'rec_tgs_MA_5_away', 'fumbles_MA_5_away', 'fumbles_lost_MA_5_away', 'fumbles_rec_MA_5_away', 'defense_tot_MA_5_away', 'defense_solo_MA_5_away', 'defense_sacks_MA_5_away', 'defense_tfl_MA_5_away', 'defense_pd_MA_5_away', 'defense_qb_hits_MA_5_away', 'defense_td_MA_5_away', 'interceptions_MA_5_away', 'interceptions_yds_MA_5_away', 'interceptions_td_MA_5_away', 'kicks_return_no_MA_5_away', 'kicks_return_yds_MA_5_away', 'kicks_return_avg_MA_5_away', 'kicks_return_long_MA_5_away', 'kicks_return_td_MA_5_away', 'punt_return_no_MA_5_away', 'punt_return_yds_MA_5_away', 'punt_return_avg_MA_5_away', 'punt_return_long_MA_5_away', 'punt_return_td_MA_5_away', 'kicking_pct_MA_5_away', 'kicking_long_MA_5_away', 'kicking_pts_MA_5_away', 'punting_no_MA_5_away', 'punting_yds_MA_5_away', 'punting_avg_MA_5_away', 'punting_tb_MA_5_away', 'punting_in_20_MA_5_away', 'punting_long_MA_5_away', 'season_home', 'week_home', 'awayteam_home', 'hometeam_home', 'awayscore_home', 'homescore_home', 'score_abs_home', 'winner_home_home', 'winner_away_home', 'winner_team_home', 'concat_home', 'home_coach_home', 'away_coach_home', 'location_home', 'weather_type_home', 'temperature_home', 'humidity_home', 'wind_home', 'team_home', 'streak_home', 'game_date_home', 'delta_match_home', 'pass_completion_MA_5_home', 'pass_yds_MA_5_home', 'pass_avg_MA_5_home', 'pass_td_MA_5_home', 'pass_int_MA_5_home', 'sacks_MA_5_home', 'qbr_MA_5_home', 'rtg_MA_5_home', 'rush_car_MA_5_home', 'rush_yds_MA_5_home', 'rush_avg_MA_5_home', 'rush_td_MA_5_home', 'rush_long_MA_5_home', 'receptions_MA_5_home', 'rec_yds_MA_5_home', 'rec_avg_MA_5_home', 'rec_td_MA_5_home', 'rec_long_MA_5_home', 'rec_tgs_MA_5_home', 'fumbles_MA_5_home', 'fumbles_lost_MA_5_home', 'fumbles_rec_MA_5_home', 'defense_tot_MA_5_home', 'defense_solo_MA_5_home', 'defense_sacks_MA_5_home', 'defense_tfl_MA_5_home', 'defense_pd_MA_5_home', 'defense_qb_hits_MA_5_home', 'defense_td_MA_5_home', 'interceptions_MA_5_home', 'interceptions_yds_MA_5_home', 'interceptions_td_MA_5_home', 'kicks_return_no_MA_5_home', 'kicks_return_yds_MA_5_home', 'kicks_return_avg_MA_5_home', 'kicks_return_long_MA_5_home', 'kicks_return_td_MA_5_home', 'punt_return_no_MA_5_home', 'punt_return_yds_MA_5_home', 'punt_return_avg_MA_5_home', 'punt_return_long_MA_5_home', 'punt_return_td_MA_5_home', 'kicking_pct_MA_5_home', 'kicking_long_MA_5_home', 'kicking_pts_MA_5_home', 'punting_no_MA_5_home', 'punting_yds_MA_5_home', 'punting_avg_MA_5_home', 'punting_tb_MA_5_home', 'punting_in_20_MA_5_home', 'punting_long_MA_5_home']

In [63]:
len(output3.columns.tolist())

147

creat new columns delta_day_away & delta_day_home

In [64]:
output3["delta_day_away"] = output3["delta_match_away"].apply(lambda x : str(x).split("days")[0])
output3["delta_day_home"] = output3["delta_match_home"].apply(lambda x : str(x).split("days")[0])

#### MERGE MASTER DATAFRAME (output3) WITH THE GAME INFO FEATURES

In [65]:
# the file with the different info on the games (stadium, weather, etc.)
data4 = pd.read_csv('../04_datasets/OLD/games_info_features.csv')

In [66]:
data4.head()

,Unnamed: 0,idgame,date,stade,location,attendance,capacity,people,line,over_under,attendance_info,month,dayofmonth,dayofweek,hour,minute
0,0,401220225,2020-09-11 00:20:00+00:00,GEHA Field at Arrowhead Stadium,"Kansas City, MO",15895.0,72936,22.0,Over/Under: 53.0,NaN,1,9,11,4,0,20
1,1,401220282,2020-09-13 17:00:00+00:00,Ford Field,"Detroit, MI",NaN,64500,NaN,Over/Under: 42.5,NaN,0,9,13,6,17,0
2,2,401220116,2020-09-13 17:00:00+00:00,Highmark Stadium,"Orchard Park, NY",NaN,71621,NaN,Over/Under: 38.5,NaN,0,9,13,6,17,0
3,3,401220313,2020-09-13 17:00:00+00:00,Mercedes-Benz Stadium,"Atlanta, GA",NaN,75000,NaN,Over/Under: 49.0,NaN,0,9,13,6,17,0
4,4,401220370,2020-09-13 17:00:00+00:00,Bank of America Stadium,"Charlotte, NC",NaN,73778,NaN,Over/Under: 48.0,NaN,0,9,13,6,17,0

In [67]:
 # using merge function by setting how='left' to keep in line with the master file
output4 = pd.merge(output3, data4, 
                   on='idgame', 
                   how='left')
  
# displaying result
output4.head()

,season_away,week_away,awayteam_away,hometeam_away,awayscore_away,homescore_away,idgame,score_abs_away,winner_home_away,winner_away_away,...,capacity,people,line,over_under,attendance_info,month,dayofmonth,dayofweek,hour,minute
0,2017,13,Vikings,Falcons,14,9,400951677,-5,0,1,...,75000,95.0,NaN,NaN,1,12,3,6,18,0
1,2017,9,Falcons,Panthers,17,20,400951749,3,1,0,...,73778,100.0,NaN,NaN,1,11,5,6,18,0
2,2017,9,Bengals,Jaguars,7,23,400951753,16,1,0,...,67858,89.0,NaN,NaN,1,11,5,6,18,0
3,2017,4,Bears,Packers,14,35,400951678,21,1,0,...,81041,97.0,NaN,NaN,1,9,29,4,0,25
4,2017,9,Colts,Texans,20,14,400951751,-6,0,1,...,71995,100.0,NaN,NaN,1,11,5,6,18,0

In [68]:
len(output4)

1289

In [69]:
print(output4.columns.tolist())

['season_away', 'week_away', 'awayteam_away', 'hometeam_away', 'awayscore_away', 'homescore_away', 'idgame', 'score_abs_away', 'winner_home_away', 'winner_away_away', 'winner_team_away', 'concat_away', 'home_coach_away', 'away_coach_away', 'location_away', 'weather_type_away', 'temperature_away', 'humidity_away', 'wind_away', 'team_away', 'streak_away', 'game_date_away', 'delta_match_away', 'pass_completion_MA_5_away', 'pass_yds_MA_5_away', 'pass_avg_MA_5_away', 'pass_td_MA_5_away', 'pass_int_MA_5_away', 'sacks_MA_5_away', 'qbr_MA_5_away', 'rtg_MA_5_away', 'rush_car_MA_5_away', 'rush_yds_MA_5_away', 'rush_avg_MA_5_away', 'rush_td_MA_5_away', 'rush_long_MA_5_away', 'receptions_MA_5_away', 'rec_yds_MA_5_away', 'rec_avg_MA_5_away', 'rec_td_MA_5_away', 'rec_long_MA_5_away', 'rec_tgs_MA_5_away', 'fumbles_MA_5_away', 'fumbles_lost_MA_5_away', 'fumbles_rec_MA_5_away', 'defense_tot_MA_5_away', 'defense_solo_MA_5_away', 'defense_sacks_MA_5_away', 'defense_tfl_MA_5_away', 'defense_pd_MA_5_away', 'defense_qb_hits_MA_5_away', 'defense_td_MA_5_away', 'interceptions_MA_5_away', 'interceptions_yds_MA_5_away', 'interceptions_td_MA_5_away', 'kicks_return_no_MA_5_away', 'kicks_return_yds_MA_5_away', 'kicks_return_avg_MA_5_away', 'kicks_return_long_MA_5_away', 'kicks_return_td_MA_5_away', 'punt_return_no_MA_5_away', 'punt_return_yds_MA_5_away', 'punt_return_avg_MA_5_away', 'punt_return_long_MA_5_away', 'punt_return_td_MA_5_away', 'kicking_pct_MA_5_away', 'kicking_long_MA_5_away', 'kicking_pts_MA_5_away', 'punting_no_MA_5_away', 'punting_yds_MA_5_away', 'punting_avg_MA_5_away', 'punting_tb_MA_5_away', 'punting_in_20_MA_5_away', 'punting_long_MA_5_away', 'season_home', 'week_home', 'awayteam_home', 'hometeam_home', 'awayscore_home', 'homescore_home', 'score_abs_home', 'winner_home_home', 'winner_away_home', 'winner_team_home', 'concat_home', 'home_coach_home', 'away_coach_home', 'location_home', 'weather_type_home', 'temperature_home', 'humidity_home', 'wind_home', 'team_home', 'streak_home', 'game_date_home', 'delta_match_home', 'pass_completion_MA_5_home', 'pass_yds_MA_5_home', 'pass_avg_MA_5_home', 'pass_td_MA_5_home', 'pass_int_MA_5_home', 'sacks_MA_5_home', 'qbr_MA_5_home', 'rtg_MA_5_home', 'rush_car_MA_5_home', 'rush_yds_MA_5_home', 'rush_avg_MA_5_home', 'rush_td_MA_5_home', 'rush_long_MA_5_home', 'receptions_MA_5_home', 'rec_yds_MA_5_home', 'rec_avg_MA_5_home', 'rec_td_MA_5_home', 'rec_long_MA_5_home', 'rec_tgs_MA_5_home', 'fumbles_MA_5_home', 'fumbles_lost_MA_5_home', 'fumbles_rec_MA_5_home', 'defense_tot_MA_5_home', 'defense_solo_MA_5_home', 'defense_sacks_MA_5_home', 'defense_tfl_MA_5_home', 'defense_pd_MA_5_home', 'defense_qb_hits_MA_5_home', 'defense_td_MA_5_home', 'interceptions_MA_5_home', 'interceptions_yds_MA_5_home', 'interceptions_td_MA_5_home', 'kicks_return_no_MA_5_home', 'kicks_return_yds_MA_5_home', 'kicks_return_avg_MA_5_home', 'kicks_return_long_MA_5_home', 'kicks_return_td_MA_5_home', 'punt_return_no_MA_5_home', 'punt_return_yds_MA_5_home', 'punt_return_avg_MA_5_home', 'punt_return_long_MA_5_home', 'punt_return_td_MA_5_home', 'kicking_pct_MA_5_home', 'kicking_long_MA_5_home', 'kicking_pts_MA_5_home', 'punting_no_MA_5_home', 'punting_yds_MA_5_home', 'punting_avg_MA_5_home', 'punting_tb_MA_5_home', 'punting_in_20_MA_5_home', 'punting_long_MA_5_home', 'delta_day_away', 'delta_day_home', 'Unnamed: 0', 'date', 'stade', 'location', 'attendance', 'capacity', 'people', 'line', 'over_under', 'attendance_info', 'month', 'dayofmonth', 'dayofweek', 'hour', 'minute']

In [70]:
len(output4.columns.tolist())

164

In [71]:
# Creation of the csv
output4.to_csv('../04_datasets/nfl_dataset_v7.csv')